page-home {
    ion-item-sliding {
        height: 60px;
    }
    ion-item {
        height: 100%;
    }
    .logo {
        padding: 5px 0 0 0;
        height: 35px;
    }
    .purple {
        background-color: #4520ab;
    }
    .purple.activated {
        background-color: #4520ab;
        opacity: 0.85;
    }
    .plate-img {
        width: 130px;
        border: 1px solid gray;
    }
}
